# dependencies
node_modules
.module-cache

#logs
*.log*

# production
/build



# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

coverage
*.report.dom.html
*.report.html

.idea
/.cache-loader
/.vscode
/.babel-cache
